.location {
    padding: 15px 0;
    background-color: #000;
}

.location__geo {
    text-align: center;
}

.location__name {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.5px;
}